h1, h2, h3, h4, h5, h6{
  font-family: sans-serif;
  background-color: white;
  color: blue;
}
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: red;



}
thead th{
    font-weight: bold;
    color: blue;
}

table, th, td{
    border: thin solid black;
      text-align: center;
      /* font-weight: bold ; */


  }

ul{
  list-style-type: square;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;

}
a:-webkit-any-link:hover {
    background-color: navy;
    color: yellow;
    text-decoration: none;
}

blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    background-color: navy;
    color: yellow;
}
 #teamRoster > li:first-child {
   background-repeat: no-repeat;
   background-size: contain;
    background-image:
    url("https://upload.wikimedia.org/wikipedia/en/4/44/Denver_Broncos_logo.svg");
}
#teamRoster > li:nth-child(2) {
  background-repeat: no-repeat;
  background-size: contain;
   background-image:
   url("https://upload.wikimedia.org/wikipedia/commons/5/5c/Chicago_Bears_logo.svg");
}
 #checkbox-grid {
    list-style-type: none;
}
 #teamRoster QB::first-lineol{
  color: bold red;
}
img{
  display: none;
}
